{#{% spaceless %}#}
<html>
	<head>
 		<title>{% block title %}{% endblock %}</title>
 		<link href="/bundles/dcshowcase/css/bootstrap.css" rel="stylesheet" type="text/css" />
{% block stylesheets %}
{% endblock %}
 	</head>
 	<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
		<img src="/bundles/dcshowcase/img/logo.png" >
			DeliveryClub
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>

      </li>
      <li>
        <a href="{{ path('login') }}" title="">
          <button type="button" class="btn btn-success" style="margin: 12px 20px 0 0;width:200px;">
            {% trans %}Login/Register{% endtrans %}</button>   
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{% block content %}
{% endblock %}

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/bundles/dcshowcase/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip();
  $('[data-toggle="popover"]').popover();
});
</script>
{% block javascripts %}
{% endblock %}
	</body>
</html> 
{#{% endspaceless %}#}