{% block form_row %}
<div class="samplerowclass">
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
</div>
{% endblock form_row %} 
