{% spaceless %}
<!-- sidebar_navigation start -->
                    <div class="sidebar_navigation gradient">
                        <ul>
                            <li class="tip-right" title="Dashboard">
                                <a href="{{ path('dc_admin_homepage') }}" class="i_dashboard">
                                    <span class="tab_label">Dashboard</span>
                                    <span class="tab_info">General info</span>
                                </a>
                            </li>

                            <li class="tip-right" title="Orders">
                                <a href="{{ path('dc_admin_manage_orders') }}" class="i_elements tip-right">
                                    <span class="tab_label">Orders</span>
                                    <span class="tab_info">Client orders</span>
                                </a>
                            </li>
                            
                            <li class="tip-right" title="Restaurants">
                                <a href="{{ path('dc_admin_manage_restaurants') }}" class="i_typography tip-right">
                                    <span class="tab_label">Restaurants</span>
                                    <span class="tab_info">Our partners</span>
                                </a>
                            </li>

                            <li class="tip-right" title="Users">
                                <a href="{{ path('dc_admin_manage_users') }}" class="i_forms">
                                    <span class="tab_label">Users</span>
                                    <span class="tab_info">Manage users</span>
                                </a>
                            </li>
<!-- 

                            <li class="tip-right" title="Tables">
                                <a href="tables.html" class="i_tables tip-right">
                                    <span class="tab_label">Tables</span>
                                    <span class="tab_info">Tabular sheets</span>
                                </a>
                            </li>

                            <li class="tip-right" title="Gallery">
                                <a href="gallery.html" class="i_gallery tip-right">
                                    <span class="tab_label">Gallery</span>
                                    <span class="tab_info">Photos &amp; Videos</span>
                                </a>
                            </li>

                            <li class="tip-right" title="Grid">
                                <a href="grid.html" class="i_grid tip-right">
                                    <span class="tab_label">Grid</span>
                                    <span class="tab_info">Overviews</span>
                                </a>
                            </li>

                            <li class="tip-right" title="Typography">
                                <a href="charts.html" class="i_charts tip-right">
                                    <span class="tab_label">Charts</span>
                                    <span class="tab_info">Visual Data</span>
                                </a>
                            </li> -->
                        </ul>
                    </div><!-- sidebar_navigation end --> 
{% endspaceless %}